<%- include("partials/header") -%>

    <link rel="stylesheet" href="../public/bootstrap-5.0.2-dist/css/bootstrap.css">

    <div class="container-fluid">

        <div class="row gx-0 subs-head">

            <div class="button">
                <button class="btn btn-success"> Our Plans </button>
            </div>


        </div>

        <div class="row subs-card gx-0">

            <div class="col col-3 mt-2">
                <div class="row gx-0 r1">Unlimited Digital Access</div>
                <div class="row gx-0 r2">
                    <div class="img1">
                    </div>
                </div>

            </div>



            <div class="col col-3 mt-2">
                <div class="row gx-0 r1">Sunday Only home Delivery + Unlimited Digital Access</div>
                <div class="row gx-0 r2">
                    <div class="img2">
                    </div>
                </div>
            </div>


            <div class="col col-3 mt-2">
                <div class="row gx-0 r1 ">EveryDay Home Delivery + Unlimited Digital Access</div>
                <div class="img3"></div>
            </div>

        </div>
    </div>




    <%- include("partials/footer") -%>