<%- include("partials/header") -%>

<div class="container px-5 py-24 mx-auto flex sm:flex-nowrap flex-wrap">
          <div class="lg:w-2/3 md:w-1/2 bg-gray-300 rounded-lg overflow-hidden sm:mr-10 p-10 flex items-end justify-start relative">
            <iframe width="100%" height="100%" class="absolute inset-0" frameborder="0" title="map" marginheight="0" marginwidth="0" scrolling="no" src="https://maps.google.com/maps?width=100%&height=600&hl=en&q=%C4%B0zmir+(My%20Business%20Name)&ie=UTF8&t=&z=14&iwloc=B&output=embed" style="filter: grayscale(1) contrast(1.2) opacity(0.4);"></iframe>
           <div class="registerbox">
        <h2>CONTACT US</h2>
        <form action="" method="post">
            <input type="text" placeholder="username" name="username"/>
            <input type="email" placeholder="Enter Your Email_id" name="email"/>
            <input type="number" placeholder="Enter Your Phone No" name="phone_no"/>
            <input type="text" placeholder="Enter Your Query" name="text"/>
            <button class="registerbtn" type="submit" name="submit">submit</button>
        
            <div  class="loginlink">
                <span>Back to login</span><a href="login.html">Click Here </a>
            </div>  
        </form>
    </div>
              
        </div>
        
    <%- include("partials/footer") -%>
